.contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  background-color: coral;
}

.social-media>p,
.social-media>i,
.mail>p{
color: white;
font-size: 20px;
}

.social-media>.fa{
  font-size: 50px;
}
.label{
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 25px !important; 
}